<?php
/*---------------------------------------------------------------------------
Sample FRONT Console Config File
To use just copy this file to front-console.conf
---------------------------------------------------------------------------*/

// Change url to what you want in you test environment

define('API_URL', 'http://127.0.0.1/api/');

?>
